.item {
  display: flex;
  align-items: center;
  width: 300px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 1px rgb(201, 201, 201),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  padding: 15px;
  background-color: #fff;

  margin-bottom: 15px;
  margin-left: -40px;
}
.status {
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.disabled {
  background-color: red;
}
.active {
  background-color: green;
}

.avatar {
  margin-left: 20px;
}

.name {
  font-weight: 700;
  font-size: 22px;
  margin-left: 26px;
  padding-bottom: 10px;
}
